# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
dist-ssr/
*.local

# Vite
.vite/

# Rust / Tauri
src-tauri/target/

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Logs
*.log
npm-debug.log*
